{% extends 'aelitaapp/base.html' %}

{% block title %} Цены на услуги стоматологии {% endblock %}

{% block content %}
<div class="container">
	<!-- block price -->
	<div class="row block-price">
		<div class="col-12">
				<h2 class="text-center py-3">Цены на услуги стоматологии</h2>
			  <hr class="h-line text-center" size="5px">
		</div>
		<div class="col-2"></div>
		{% for category in cat %}
			{% if forloop.counter == 5 %}
				<div class="col-sm-5 col-xs-12 price-block-nap"><h5><a href="{{ category.get_absolute_url }}">{{ category.name }} <span>&rarr;</span></a></h5></div>
			{% else %}
				<div class="col-sm-2 col-xs-12 price-block-nap"><h5><a href="{{ category.get_absolute_url }}">{{ category.name }} <span>&rarr;</span></a></h5></div>
			{% endif %}
			{% if forloop.counter == 3 %}
			<div class="col-2"></div>
			<div class="col-2"></div>
			{% endif %}
		{% endfor %}
			<div class="col-2"></div>
	</div>
	<!-- end block price -->

	<!-- zapis -->
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6">
			<form action="{% url 'contacts' %}" method="POST">
				{% csrf_token %} <!-- защита от копирования формы -->
				{{ form.as_p }}
				 <button type="submit" class="btn button-color">Записаться</button>
			</form>
		</div>
		<div class="col-3"></div>
	</div>
	<!-- end zapis -->
</div>
{% endblock %}